<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>first micro</title>
</head>
<body>
   
   <!-- Google tag (gtag.js) -->
   <script 
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-YBSGVH69GD"
   ></script>
   <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-YBSGVH69GD');
   </script>
   <a href="/logger/">See logs here</a>
</body>
</html>