<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>first micro</title>
</head>

<body>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YBSGVH69GD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-YBSGVH69GD');

    
    </script>
    
    <a style="color:rgb(9, 255, 0);" href="/logger/">See logs here</a>
    <a style="color:rgb(13, 0, 255);" href="/text/"> See a message here</a>
    <a style="color:red;" href="/cookies/"> See google analytics here</a>

</body>

</html>